<a href="https://colab.research.google.com/github/shri-cloud/LEARN.PY/blob/main/TASK_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 
Create a DataFrame by passing a random numpy array,with a datetie index and labelled columns.and,
    - slice its first three rows and display.
    - slice its odd indexed rows.
    - display the dates from 1st postion to 4 th position.

In [2]:
#please provide your answer below this line.
import numpy as np
import pandas as pd
datetie = pd.date_range('2021-09-01',periods=6)
df = pd.DataFrame(np.random.randn(6,6), index=datetie, columns = list('ABCDEF'))
df1 = df.iloc[0:3]
print("First 3 rows")
print(df1)
df2 = df.iloc[0:2]
print("Odd indexed rows")
print(df2)
df3 = df.iloc[1:4,0:0]
print("Dates from first position to fourth position")
print(df3)

First 3 rows
                   A         B         C         D         E         F
2021-09-01  0.417956 -0.033560 -1.532112  0.091739  0.747827  0.851655
2021-09-02 -0.915776 -0.210305  1.655804 -0.535490  0.236001  0.737321
2021-09-03 -0.369745  0.624486 -0.775419  1.201865  0.153991 -0.820166
Odd indexed rows
                   A         B         C         D         E         F
2021-09-01  0.417956 -0.033560 -1.532112  0.091739  0.747827  0.851655
2021-09-02 -0.915776 -0.210305  1.655804 -0.535490  0.236001  0.737321
Dates from first position to fourth position
Empty DataFrame
Columns: []
Index: [2021-09-02 00:00:00, 2021-09-03 00:00:00, 2021-09-04 00:00:00]

2. Create a DataFrame by passing a random numpy array,with a datetie index and labelled columns.and
  - Dislplay the index from the 1 to 3 date and the columns A and B of respective data.
  - Display the datas at the 3rd index.
  - Display datas from 2nd to 5th.
  - Display the datas from the index 1,2,4 and the column 0 and 2.

In [3]:
#please provide your answer below thins line.
df1 = df.loc[['2021-09-02','2021-09-03','2021-09-04'],['A','B']]
print(df1)
df2 = df.loc['2021-09-04']
print("Datas at the third index")
print(df2)
df3 = df.loc[['2021-09-03','2021-09-04','2021-09-05','2021-09-06']]
print("Datas from index second to fifth")
print(df3)
df4 = df.loc[['2021-09-02','2021-09-03','2021-09-05'],['A','C']]
print("Datas from index 1,2,4 and the column 0 and 2")
print(df4)

                   A         B
2021-09-02 -0.915776 -0.210305
2021-09-03 -0.369745  0.624486
2021-09-04 -0.708991 -0.760096
Datas at the third index
A   -0.708991
B   -0.760096
C   -0.237252
D   -0.159564
E   -2.128308
F   -1.253095
Name: 2021-09-04 00:00:00, dtype: float64
Datas from index second to fifth
                   A         B         C         D         E         F
2021-09-03 -0.369745  0.624486 -0.775419  1.201865  0.153991 -0.820166
2021-09-04 -0.708991 -0.760096 -0.237252 -0.159564 -2.128308 -1.253095
2021-09-05 -0.420863 -0.217942 -0.272210 -1.444509 -0.305573 -0.371886
2021-09-06 -0.831017 -1.261685  0.811343  0.120576  0.606788 -0.211827
Datas from index 1,2,4 and the column 0 and 2
                   A         C
2021-09-02 -0.915776  1.655804
2021-09-03 -0.369745 -0.775419
2021-09-05 -0.420863 -0.272210