<a href="https://colab.research.google.com/github/shri-cloud/LEARN.PY/blob/main/TASK_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. In the data given below,
  - find the boolean mask where value is nan
  - remove the row with missing data.

In [1]:
import pandas as pd
import numpy as np
dates = pd.date_range('2021-01-01',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print(df1)
df2 = pd.isna(df1)
print(df2)
df3 = df1.dropna(how="any")
print(df3)

                   A         B         C         D   F    E
2021-01-01  1.361692  1.675875  1.347078 -0.260796 NaN  1.0
2021-01-02  1.399031  0.035819 -0.207035 -0.007029 NaN  1.0
2021-01-03  0.694218 -0.384823 -0.234250 -0.614700 NaN  NaN
2021-01-04  0.231709  0.715627  0.328209  0.645752 NaN  NaN
                A      B      C      D     F      E
2021-01-01  False  False  False  False  True  False
2021-01-02  False  False  False  False  True  False
2021-01-03  False  False  False  False  True   True
2021-01-04  False  False  False  False  True   True
Empty DataFrame
Columns: [A, B, C, D, F, E]
Index: []

2. In the data given below,fill the missing data with 20.

In [2]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print(df1)
df2 = df1.fillna(value=20)
print(df2)

                   A         B         C         D   F    E
2021-01-01 -2.607997 -0.924581  0.650362  1.350442 NaN  1.0
2021-01-02 -1.411758 -0.054083 -0.362070  0.826390 NaN  1.0
2021-01-03  0.279847 -0.952991  0.847438 -0.823835 NaN  NaN
2021-01-04 -0.143522  1.316946  0.381606  0.108618 NaN  NaN
                   A         B         C         D     F     E
2021-01-01 -2.607997 -0.924581  0.650362  1.350442  20.0   1.0
2021-01-02 -1.411758 -0.054083 -0.362070  0.826390  20.0   1.0
2021-01-03  0.279847 -0.952991  0.847438 -0.823835  20.0  20.0
2021-01-04 -0.143522  1.316946  0.381606  0.108618  20.0  20.0

3. From the data given below,
  - break the data in to pieces from 0 t0 2 ,3 t0 7
  - concatenate the pieces.
  - concatenate the pieces along axis 1
  - label each as 'a' and 'b' respectively and perform concatenation.

In [7]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10, 4))
df
#please provide your answer below this line
print(df)
df1 = df[0:2]
df2 = df[3:7]
print(df1)
print(df2)
df3 = pd.concat([df1,df2])
print(df3)
df4 = pd.concat([df1,df2],axis=1)
print(df4)
df5 = pd.concat([df1,df2],keys=["a","b"])
print(df5)

          0         1         2         3
0 -2.267617 -0.244101  0.406036 -0.682606
1 -0.590610 -0.227202  1.335328 -1.304588
2  0.475622 -1.435941 -0.736538 -1.051285
3 -0.756470  0.067209  0.091638 -1.116715
4 -0.645626 -0.353856  0.807470  0.015388
5  0.158278  0.519868 -0.922878 -0.059210
6 -0.679074 -0.658473  0.716355  1.587204
7 -0.289698 -0.606265  0.297103 -0.159065
8  1.485191 -0.168488  1.033184 -0.383270
9  1.408313 -1.027081 -1.194528  0.606879
          0         1         2         3
0 -2.267617 -0.244101  0.406036 -0.682606
1 -0.590610 -0.227202  1.335328 -1.304588
          0         1         2         3
3 -0.756470  0.067209  0.091638 -1.116715
4 -0.645626 -0.353856  0.807470  0.015388
5  0.158278  0.519868 -0.922878 -0.059210
6 -0.679074 -0.658473  0.716355  1.587204
          0         1         2         3
0 -2.267617 -0.244101  0.406036 -0.682606
1 -0.590610 -0.227202  1.335328 -1.304588
3 -0.756470  0.067209  0.091638 -1.116715
4 -0.645626 -0.353856  0.807470  0.015388
5  0.158278  0.519868 -0.922878 -0.059210
6 -0.679074 -0.658473  0.716355  1.587204
          0         1         2  ...         1         2         3
0 -2.267617 -0.244101  0.406036  ...       NaN       NaN       NaN
1 -0.590610 -0.227202  1.335328  ...       NaN       NaN       NaN
3       NaN       NaN       NaN  ...  0.067209  0.091638 -1.116715
4       NaN       NaN       NaN  ... -0.353856  0.807470  0.015388
5       NaN       NaN       NaN  ...  0.519868 -0.922878 -0.059210
6       NaN       NaN       NaN  ... -0.658473  0.716355  1.587204

[6 rows x 8 columns]
            0         1         2         3
a 0 -2.267617 -0.244101  0.406036 -0.682606
  1 -0.590610 -0.227202  1.335328 -1.304588
b 3 -0.756470  0.067209  0.091638 -1.116715
  4 -0.645626 -0.353856  0.807470  0.015388
  5  0.158278  0.519868 -0.922878 -0.059210
  6 -0.679074 -0.658473  0.716355  1.587204